@import "css/adoc-rocket-panda.css";

.banner {
    background-color: rgb(7, 7, 115);
    color: white;
    border-radius: .8em;
    padding: .3em;
    padding-left: 1em;
}

p {
    margin-bottom: 1em;
}

ul > li p {
    margin-bottom: .1em;
}

table {
    margin-bottom: .1em;
}
